<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suit docs" verbose="1" thread-count="1" parallel="false">

    <listeners>
        <listener class-name = "appmanager.CustomReporter" />
    </listeners>

    <test name="SupPortal REST API" thread-count="1"  parallel="false">
        <classes>
            <class name="tests.DocumentDetailSimpleTests"/>
            <class name="tests.DocumentDetailTests"/>
            <class name="tests.DocumentHeaderSimpleTests"/>
            <class name="tests.DocumentHeaderTests"/>
            <class name="tests.DocumentLineSimpleTests"/>
            <class name="tests.DocumentLineTests"/>
            <class name="tests.DocumentTableSimpleTests"/>
            <class name="tests.DocumentTableTests"/>
            <class name="tests.DocumentTabSimpleTests"/>
            <class name="tests.DocumentTabTests"/>
        </classes>
    </test>
</suite>